frontend/node_modules
frontend/dist
frontend/.env

parser/.env
parser/node_modules
parser/dist

chrome-extension/.env
chrome-extension/node_modules
chrome-extension/dist

trustbadge/node_modules
trustbadge/dist