{
  "env": {
    "browser": true,
    "es2021": true,
    "webextensions": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".ts",
          ".tsx"
        ],
        "moduleDirectory": [
          "src",
          "node_modules"
        ]
      }
    }
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "import/no-unresolved": [2, { "ignore": [
      "@src/*",
      "@assets/*",
      "@pages/*"
    ]}],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error"
    ],
    "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never",
      { "svg": "always", "css": "always" }
    ],
    "no-console": "off",
    "jsx-a11y/media-has-caption": "off",
    "max-classes-per-file": "off",
    "object-curly-newline": "off",
    "padded-blocks": "off",
    "no-use-before-define": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          "jsx",
          ".tsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prefer-stateless-function": "off",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ]
    // "default-param-last": "off"
  }
}